@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Modernist';
  src: url('./public/fonts/Sk-Modernist-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Modernist';
  src: url('./public/fonts/Sk-Modernist-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Modernist Mono';
  src: url('./public/fonts/Sk-Modernist-Mono.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Modernist', sans-serif;
}